 .users-list-block {
   min-width: 150px;
   width: auto;
   border: 1px solid #cccccc;
   padding: 10px;
   margin-top: 30px;

   h4 {
     text-transform: uppercase;
     margin-bottom: 20px;
   }

   li {
     list-style: none;
     font-size: 1.1rem;
     border-bottom: 1px solid #eeecec;
     &:hover {
       background-color: #eeecec;
       cursor: grabbing;
     }
   }
 }