.messages {
  border: 1px solid #cccccc;
  height: 60vh;
  overflow-y: auto;
  max-width: 700px;
  width: 100%;
  min-width: 400px;
  margin-top: 30px;
}

.messages .right {
  float: right;
}

.messages .message-block {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  width: 70%;
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 10px;
}

.messages .message-block .message-avatar {
  width: 50px;
}

.messages .message-block .message-body {
  padding-left: 1.4rem;
}

.messages .message-block .message-date {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: #888787;
  font-size: 0.7rem;
}

.messages .message-block .message-react span {
  margin: 5px 10px 0 10px;
}

.messages .message-block .message-react .my-edit-btn {
  position: absolute;
  right: 0;
  top: 30%;
}
