.abs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #8b8a8a9c;

  .modal {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 400px;
    height: 200px;

    h2 {
      padding: 5px 20px;
      margin: 0;
    }

    .edit-form {
      padding: 10px 20px;
      display: flex;
      flex-direction: column;
      justify-content: stretch;

      .abs-close {
        position: absolute;
        top: -2px;
        right: 2px;
        font-size: 2rem;
        cursor: pointer;
        color: #6e6b6b;
      }

      textarea {
        width: 100%;
        height: 90px;
        max-height: 100px;
      }

      input[type='submit'] {
        margin-top: 10px;
        align-self: center;
        box-sizing: border-box;
        padding: 5px 30px;
        background-color: rgba(18, 116, 9, 0.842);
        border: 1px solid #87f387;
        color: #e1fae6;
        font-size: 1.1rem;
      }
    }
  }
}